<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IDatabaseService"
						 maxReceivedMessageSize="30000000"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:64699/DatabaseService.svc"
                      binding="basicHttpBinding"
					  bindingConfiguration="BasicHttpBinding_IDatabaseService"
                      contract="DBService.IDatabaseService"
		              name="BasicHttpBinding_IDatabaseService" />
        </client>
    </system.serviceModel>
</configuration>